# Custom
#.env.js

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/.github
/client/node_modules
/client/package-lock.json
/client/build
/server/node_modules
/server/.git_v1
/server/.gitignore
/server/package-lock.json 
yarn.lock
node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.DS_Store
# .env
npm-debug.log*
yarn-debug.log*
yarn-error.log*