main {
    position: absolute;
    top: 0px;
    left: 90px;
    width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: calc(100% - 90px);
    height: 100%;
    z-index: 200;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    background: url('../../../images/Home/4.jpg') center center no-repeat;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-top: 30px;
}
