nav {
    width: 90px;
    height: 100%;
    z-index: 1000;
    background: #00274e;
    position: fixed;

    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .nav_ul {
        margin-top: 10px;
        li {
            position: relative;
            padding: 5px;
            width: 70px;
            margin: 0 auto;
            margin-bottom: 10px;
            span {
                z-index: 3;
                width: 100%;
                position: absolute;
                top: 35px - 8px;
                left: 0;
                font-size: 12px;
                color: #fff;
                background-color: #00274e;
                padding: 3px 0;
                text-align: center;
            }
            img {
                width: 100%;
                transition: 1s ease-in-out;
                // animation: move 1s infinite;
            }
            &:hover img {
                -webkit-animation: spin 1s linear infinite;
                -moz-animation: spin 1s linear infinite;
                animation: spin 1s linear infinite;
            }
            @-moz-keyframes spin {
                100% {
                    -moz-transform: rotate(360deg);
                }
            }
            @-webkit-keyframes spin {
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }
            @keyframes spin {
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        }
    }

    .admin {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 28px;
    }

    .admin_data {
        position: relative;
        // display: flex;
        // max-width: 300px;
        // min-width: 150px;
        .nav_avatar {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #fff;
            background: linear-gradient(90deg, #0073e6, #0ca);

            img {
                width: 100%;
            }
        }
        .admin_list {
            position: absolute;
            top: -5px;
            left: 35px;
            display: flex;
            align-items: center;
            opacity: 0;
            transition: 0.3s;
            &::before {
                content: '';
                display: block;
                border-color: transparent #0073e6 transparent transparent;
                border-style: solid solid solid solid;
                border-width: 7px;
            }
            .btn {
                width: 80px;
                height: 50px;
                background-color: #0073e6;
                border-radius: 5px;
                overflow: hidden;
                p {
                    margin: 0;
                    padding: 0 0 0 5px;
                    line-height: 25px;
                    color: #fff;
                    font-size: 12px;
                    transition: 0.3s;
                    cursor: default;

                    &:hover {
                        background-color: #0ca;
                    }
                }
            }
        }

        &:hover .admin_list {
            opacity: 1;
        }
    }

    .btn_bottom {
        margin-bottom: 20px;
    }
}

.success {
    color: green;
}
.error {
    color: red;
}
