.main {
    width: 80%;
    margin: 0 auto;
    input {
        background-color: #00274e;
        border: 1px solid #fff;
        padding: 5px;
    }
    button {
        margin-left: 8px;
        background-color: #00274e;
        width: 150px;
        height: 30px;
    }
    ul {
        margin-top: 8px;
        border: 1px solid #fff;
        background-color: #00274e;
        padding: 5px;
        margin: 10px 0;
    }
    a {
        margin: 0;
        width: 100px;
        height: 40px;
        background: red;
        color: #fff;
    }
    .blue {
        background-color: green;
    }
}
