.info {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    background-color: #051d35;
    border-bottom: 1px solid #394958;

    .info_inner {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
